<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link href="/stylesheet.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
